/* Overriding navbar coloring to indicate user current location */
.navbar #nav_about a {
  color: #f39c12 !important;
}

body {
  background: linear-gradient(180deg, white 15%, #4b4b4b 100%);
}

footer {
  height: 100vh;
}

#jumbotron {
  background-color: transparent;
}

/* Height of about description section */
#about {
  height: 60vh;
}

#about_text {
margin-top: calc(3%); 
/* display: block; */
text-align: center; 
justify-content: center; 
position: relative;
}

#about_text img {
width: 150px;
height: 100%;
display: inline-block;
}

#about_text div {
border-radius: 30px; 
overflow:hidden; 
margin-left: calc(-40% + 0px);
margin-top: calc(-125px); 
height: 175%; 
line-height: 175%; 
width: calc(80% - 0px); 
padding: 50px; 
text-align: center; 
position: absolute; 
left: 50%; 
top: 50%; 
background-color: rgba(0, 0, 0, 0.5);
color: white; 
}

@media screen and (max-width: 600px) {
  
  #jubotron > div {
    padding-top: 0vh
  }
  
  /* Cocktail pngs */
  #about {
    height: 120vh !important;
  }
  /* Overlay and text */
  #about_text {
    margin-top: calc(-10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: calc(20% + 0px);
  }
  #about_text div {
    margin-top: calc(-275px) !important; 
    margin-left: calc(-100% + 30px) !important;
    padding: 30px; 
    width: 150% !important;
    height: 115%;
    
  }
  #mojito {
    margin-left: 10%;
  }
  #fashioned {
    margin-left: 5%;
  }
  
}

/* #bartender {
  margin-top: calc(-40%); 
  /* display: block; */
  /* text-align: center; 
  justify-content: center; 
  position: relative;
  } */
  
  #bartender img {
  width: 200px;
  height: 100%;
  display: inline-block;
  }

  #cocktail img {
    width: 75px;
    height: 100%;
    display: inline-block;
  }


/* // LAGGY ON SAFARI */
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-200px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-200px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/*Demonstrate CSS classes (PASSIVE) (<style> needs to be included in the <head> of the html file if used directly and class="" needs to be included in the selector)*/

/* Use class="slideanim" only incl. the js code to enable the keyframe animations when scrolling to that element. Use class="slide" if the animation should appear when the page is loaded */
/*Sliding animation*/
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.fadein {
  animation-name: fadein;
  -webkit-animation-name: fadein;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  visibility: visible;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center-con, .center-con > a {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}


.round {
  position: absolute;
  border: 2px solid #4b4b4b;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}

#cta {
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow 
{left: 30%;}
.arrow 
{position: absolute; bottom: 0;  margin-left:2px; width: 12px; height: 12px; background-size: contain; top:13px;}
.secondary 
{margin-left: 2px; top: 19px;}
.next 
{background-image: url(/static/icons/down-arrow.svg);
}

.round .arrow {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round .arrow.primary{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateY(0px) scale(1);}
25%{opacity: 0; transform:translateY(10px) scale(0.9);}
26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
55% {opacity: 1; transform: translateY(0px) scale(1);}
}