/* Overriding navbar coloring to indicate user current location */
.navbar #nav_about a {
color: #f39c12 !important;
}

/*-- General layout --*/
@media screen and (max-width: 9999px) {
  main {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  }

  body {
  background: linear-gradient(180deg, white 15%, #4b4b4b 100%);
  }

  h1 {
  padding-top: 5vh; 
  color: #4b4b4b;
  }

  .fs_block {
  height: 100vh;
  /* background-color: transparent; */
  /* text-align: center; position: relative; height: 100vh;  */
  }

  .fs_block_filler {
  height: 50vh;
  }
}

/*-- Top section --*/
@media screen and (max-width: 9999px) {
  
  #jumbotron_contents {
    margin-top: 5vh;
  }
  
  #bartender img {
  width: 200px;
  height: 100%;
  display: inline-block;
  }
}

/*-- About text and images block --*/
@media screen and (max-width: 9999px) {
  /* About container for images and text */
  #about_text {
  margin-top: 30vh;
  margin-bottom: 15vh;
  position: relative;
  }
  
  /* About images */
  #about_text img {
  width: 100px;
  height: 100%;
  /* display: inline-block; */
  }
  
  /* About text */
  #about_text div {
  position: absolute; 
  
  border-radius: 30px; 
  overflow:hidden; 
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -15%; 

  line-height: 150%; 
  width: auto; 
  padding: 5%; 
  top: 50%;
  
  background-color: rgba(0, 0, 0, 0.5);
  color: white; 
  
  /* left: 50%;  */
  /* height: 175%;  */
  }
  
  #fashioned {
  margin-top: -40px;
  }
  
  #mojito {
  margin-left: 20px;
  margin-top: -75px;
  }
  
  #gt {
  margin-top: -75px;
  }

  #about_search a, #about_search a:hover {
    /* color: gray; */
    /* visited, active link */
    color: #4b4b4b;
    text-decoration: none;
  }

}

/*-- Footer --*/
@media screen and (max-width: 9999px) {
  #cocktail img {
  width: 75px;
  height: 100%;
  display: inline-block;
  }
  
  #footer {
  height: 50vh; 
  padding-top: 15vh;
  }
}

/*-- Slideanim, slide, fadein and animate-bottom animations --*/
@media screen and (max-width: 9999px) {
/*Demonstrate CSS classes (PASSIVE) (<style> needs to be included in the <head> of the html file if used directly and class="" needs to be included in the selector)*/
/* Use class="slideanim" only incl. the js code to enable the keyframe animations when scrolling to that element. Use class="slide" if the animation should appear when the page is loaded */
/*Sliding animation*/
.slideanim {
  visibility:hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.fadein {
  animation-name: fadein;
  -webkit-animation-name: fadein;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  visibility: visible;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* NOT IN USE LAGGY ON SAFARI */
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-200px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-200px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
}

/*-- Arrow down SVG animation --*/
@media screen and (max-width: 9999px) {
  .right {
    transform: rotate(-90deg);
  }
  
  .center-con, .center-con > a {
  display: flex;
  justify-content: center !important;
  padding-top: 5vh;
  
}
.round {
  position: relative;
  border: 2px solid #4b4b4b;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#cta {
  width:100%; 
  cursor: pointer; 
  position: relative;
}
#cta .arrow {
  left: 30%;
}
.arrow { 
  position: absolute; bottom: 0;  margin-left:2px; width: 12px; height: 12px; background-size: contain; top:13px;
}
.secondary { 
  margin-left: 2px; top: 19px;
}
.next { 
  background-image: url(/static/icons/down-arrow.svg);
}
.round .arrow {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round .arrow.primary{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
@keyframes bounceAlpha {
0% {opacity: 1; transform: translateY(0px) scale(1);}
25%{opacity: 0; transform:translateY(10px) scale(0.9);}
26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
55% {opacity: 1; transform: translateY(0px) scale(1);}
}
}

/*-- iPhone 8 Plus --*/
@media screen and (max-width: 600px) {
  
  /* About text */
  #about_text {
    margin-top: 0vh !important;
      /* iOS needs flex below */
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
 
  #about_text div {  
    margin-top: -45%;
  }
    
  #fashioned {
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    margin-top: 50px;
  }

  #mojito {
    margin-left: 40%;
    margin-right: auto;
    height: auto !important;
    margin-top: 10px;
  }
  
  #gt {
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    margin-top: 15px;
  }

  #about > .center-con, #about > .center-con > a {
    margin-top: -6vh !important;
  }

  #about_search > .center-con, #about_search > .center-con > a {
    margin-top: 3vh !important;
  }
  
}

/*-- iPhone 8 --*/
@media screen and (max-width: 400px) {

  #jumbotron_contents {
    margin-top: 0vh;
  }

  #about_text div {  
    margin-top: -45%;
  }

  #mojito {
    margin-left: 38% !important;
  }

  #jumbotron_contents > .center-con, #jumbotron_contents > .center-con > a {
    margin-top: -2vh !important;
  }

  #about > .center-con, #about > .center-con > a {
    margin-top: -10vh !important;
  }

  body {
    font-size: 0.90em;
  }

  #about_text img {
    width: 25% !important;
  }

}

/* SG S5 */
@media screen and (max-width: 360px) {

  #about > .center-con, #about > .center-con > a {
    margin-top: -5vh !important;
}

/*-- iPhone SE --*/
@media screen and (max-width: 350px) {

  body {
    font-size: 0.85em;
  }

  h1 {
    font-size: 2em;
  }

  #about_text img {
    width: 30% !important;
  }

  #about_text div {  
    margin-top: -55% !important;
  }

  #about > .center-con, #about > .center-con > a {
    margin-top: -6vh !important;
  }

  #about_search > .center-con, #about_search > .center-con > a {
    margin-top: 3vh !important;
  }

}