/* Overriding navbar coloring to indicate user current location */
.navbar #nav_login a {
  color: #f39c12 !important;
}

.submit-button {
  background-color: #f39c12 !important;
  border: 0px solid #f39c12 !important;
  color: black;
  /* width: 80%; */
  margin-left: 35%;
}

.submit-button:hover {
  color: black !important;
}
