/* Overriding navbar coloring to indicate user current location */
.navbar #nav_login a {
color: #f39c12 !important;
}

.submit-button-35, .submit-button-0 {
background-color: #f39c12 !important;
border: 0px solid #f39c12 !important;
color: black;
/* width: 80%; */
}

.submit-button-0 {
margin-left: 0%;
}

.submit-button-35 {
margin-left: 35%;
}

.submit-button-35:hover, .submit-button-0:hover {
color: black !important;
}

@media screen and (max-width: 600px) {
    .submit-button-35 {
      margin-left: 25% !important;
    }

    @media screen and (max-width: 600px) {
        #password-reset-container {
          margin-top: -10vh !important;
        }
      }
  }

/* Used for the bartender icon */
.fadein {
    animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }