{% extends "core/base.html" %}
{% load static %}
{% block static %}
<link href="{% static "css/about.css" %}" rel="stylesheet">
<script src="{% static "js/about.js" %}"></script>
{% endblock %}
{% block title %}
    About
{% endblock %}

{% block main %}
<!-- https://www.htmlgoodies.com/tutorials/web_graphics/article.php/3480001/So-You-Want-To-Pre-Load-Huh.htm -->
<link rel="preload" as="image" href="{% static "images/bartender.png" %}">
<link rel="preload" as="image" href="{% static "icons/down-arrow.svg" %}">

 <div id="jumbotron" class="fs_block">
        
    <!-- Below is to push the content down a bit -->
    <div style="padding-top: 5vh">
        <div>
            <h1 style="color: inherit">What are we drinking tonight?</h1>
            <p style="font-style: italic">your personal cocktail experience</p>
        </div>
        <br>
        <div id="bartender" class="slide">
            <img src="{% static "images/bartender.png" %}">
        </div>
        
        <div class="center-con fadein">
            <a href="#about"> 
                <div class="round">
                    <div id="cta">
                        <span class="arrow primary next "></span>
                        <span class="arrow secondary next "></span>
                    </div>
                </div> 
            </a> 
        </div>

    </div>
    
</div>

<div id="filler" class="fs_block_filler"></div>

<div id="about" class="fs_block">
    <h1>About</h1>
    
    <div id="about_text" class="slideanim">
        <img id="fashioned" src="{% static "images/fashioned.png" %}">
        <img id="mojito" src="{% static "images/mojito.png" %}">
        <img id="gt" src="{% static "images/gt.png" %}">
                
        <div>
            <p style="font-size: larger">
        
            <br>
            On this site you can search and explore cocktail recipes. To see the recipe click on the cocktail card. If you sign up for an account you can add each cocktail to your favorites.
            <br>
            <br>
            The site is under development with
            interesting new features ...
            <br>
            <br>
            If you have ideas for improvement send a mail to abc@abc.com
            <br>
        
            </p>
        </div>
    
    </div>

    <div class="center-con">
        <a href="#about_search"> 
            <div class="round">
                <div id="cta">
                    <span class="arrow primary next "></span>
                    <span class="arrow secondary next "></span>
                </div>
            </div> 
        </a> 
    </div>

</div>

<div id="filler" class="fs_block_filler"></div>

<div id="about_search" class="fs_block">
    <h1>Search</h1>
    
    <div id="about_search_text" class="slideanim">
        <a href="{% url 'search' %}">
            <div class="fa fa-search" style="color: #f39d1288; line-height: 100px; position: relative; font-size: 50px; margin-top: 20vh"></div>
            <h4 style="color: #4b4b4b">A cocktail database with <br> more than 500 cocktails</h4>
        </a>
    </div>

    <div class="center-con">
        <a href="{% url 'search' %}"> 
            <div class="round right">
                <div id="cta">
                    <span class="arrow primary next "></span>
                    <span class="arrow secondary next "></span>
                </div>
            </div> 
        </a> 
    </div>

</div>

{% endblock %}

{% block footer %}
<div id="footer">

    <div id="cocktail">
        <img src="{% static "images/fashioned.png" %}">
    </div>

    <br>
    <p>Powered by thecocktaildb.com</p>
    <br>

</div>
{% endblock %}