{% extends "core/base.html" %}
{% block static %}
<link href="/static/css/about.css" rel="stylesheet">
<script src="/static/js/about.js"></script>
{% endblock %}
{% block title %}
    About
{% endblock %}

{% block header %}
 <!--JUMBOTRON-->
 <div id="jumbotron" class="jumbotron jumbotron-fluid" style="text-align: center; position: relative; height: 100vh">
    
    <!-- Below is to push the content down a bit -->
    <div style="padding-top: 5vh">
        <div>
            <h1>What are we drinking tonight?</h1>
            <p style="font-style: italic">your personal cocktail experience</p>
        </div>
        <br>
        <div id="bartender" class="slide">
            <img src="static/images/bartender.png">
        </div>
        
        <div class="center-con fadein">
            <a href="#about"> 
                <div class="round">
                    <div id="cta">
                        <span class="arrow primary next "></span>
                        <span class="arrow secondary next "></span>
                    </div>
                </div> 
            </a> 
        </div>

    </div>
    
</div>
{% endblock %}

{% block main %}
<div id="about" style="height: 100vh; background-color: transparent">
    <h1 style="text-align: center; padding-top: 5vh; color: #4b4b4b">About</h1>
    
    <div id="about_text" class="slideanim" style="margin-top: 15vh; margin-bottom: 15vh;" >
    <img id="fashioned" src="/static/images/fashioned.png">
    <img id="mojito" src="/static/images/mojito.png">
    <img src="/static/images/gt.png">
                
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ante eu augue consectetur placerat. Proin ac varius nisi. In luctus ultrices erat, id vestibulum felis tempor vel. Maecenas elementum fringilla libero, id consequat nisl. Quisque eget nunc convallis, imperdiet mauris eget, venenatis mi. Aenean id ligula sapien. Proin mattis eleifend tellus. Aenean finibus metus nec mauris interdum, nec ultricies metus pulvinar.
        Nam viverra sed arcu non elementum. Etiam vestibulum mauris quis tortor sollicitudin pulvinar. Donec sed lectus quis leo aliquet blandit. Duis pulvinar condimentum tortor, non vestibulum nisi suscipit in.
    </div>
    
    </div>

    <div class="center-con" style="padding-top: 15vh;">
        <a href="#about_search"> 
            <div class="round">
                <div id="cta">
                    <span class="arrow primary next "></span>
                    <span class="arrow secondary next "></span>
                </div>
            </div> 
        </a> 
    </div>

</div>

<div id="about_search" style="height: 100vh; background-color: transparent; text-align: center; position: relative">
    <a href="/search">
        <div class="fa fa-search" style="color: #f39d1288; line-height: 100px; position: absolute; font-size: 50px; margin-left: -125px; margin-top: 40vh">
            <h5 style="font-weight:bold; color: #4b4b4b">Search for 500+ cocktails</h5>
        </div>
    </a>
</div>

{% endblock %}

{% block footer %}
<div style="height: 50vh; background-color: transparent; position: relative; padding-top: 15vh;">

        <div id="cocktail" class="">
            <img src="static/images/cocktail.png">
        </div>

    <br>
    <p>Powered by cocktaildb.com</p>
    <br>

</div>
{% endblock %}