{% extends "core/base.html" %}
{% load static %}
{% block static %}
<link href="{% static "css/search.css" %}" rel="stylesheet">
<script src="{% static "js/search.js" %}" type="text/javascript"></script>
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block main %}
<!-- Used to signal whether the page should scroll to what was seen before -->
{% if remaining_items == 0 %}
<meta id="all_items" value="true">
{% else %}
<meta id="all_items" value="false">
{% endif %}
<!-- For ajax post request -->
{% csrf_token %}

<form id="page_search" action="/search" method="GET" style="display: none;">
    <div class="form-group row justify-content-center">
        <div class="form-group has-search" style="width: 60vw;">
            <span class="fa fa-search form-control-feedback"></span>
            <!-- Autofocus is handled through js as it has to happen after the fade to search message -->
            <input id="page_search_input" autocomplete="off" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search cocktails" type="search">
        </div>
        
        {% if user.is_authenticated %}
            <div id="page_favorites"> 
            {% if search_location == 'favorites' %}
                <a class="fas fa-heart" href="/search/?q={{ request.GET.q }}" style="display: none;"></a>
            {% else %}
                <a class="far fa-heart" href="/search/?q={{ request.GET.q }}&show_favorites" style="display: none;"></a>
            {% endif %}
            </div>
        {% endif %}
        
    </div>
</form>

 
<object id="loader" type="image/svg+xml" data="{% static "icons/loader.svg" %}"></object>

{% if result and search_location == 'query' %}
<div id="search_results">
    <h4><span class="badge badge-dark">Showing {{ items }} out of {{ total_items }} cocktails</span></h4>
</div>
{% endif %}

{% if search_location == 'query' and result or search_location == 'favorites' and result %}
    <div id="cocktailSection" class="row">
        {% for r in result %}
            <div class="column">
                <div id="{{ r.idDrink }}_container" class="outer-container-flip">
                    <div class="inner-container-flip">
                            
                        <div class="frontside">
                            <div class="card">
                                
                                <!-- Front image -->
                                <img class="card-img-top img- fluid" src="{{ r.strDrinkThumb }}" alt="Card image">  
                                
                                <!-- Badge in the body of the card -->
                                {% if user.is_authenticated %}
                                <i id="{{ r.idDrink }}" name="favorite" class="{% if r.user_fav %}fas fa-heart card-badge{% else %}far fa-heart card-badge{% endif %}">
                                <object name="favorite_loader" id="{{ r.idDrink }}_favorite_loader" type="image/svg+xml" data="{% static "icons/loader.svg" %}"></object>
                                </i>
                                {% else %}
                                <i id="{{ r.idDrink }}" name="favorite" class="far fa-heart card-badge "></i>
                                {% endif %}
                                
                                
                                <!-- Card body -->
                                <div class="card-body">
                                    <h4 class="card-title">{{ r.strDrink | truncatechars:40 }}</h4>
                                    <p class="card-text">
                                        <ul>
                                            {% if r.strIngredient1 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient1 }}
                                            </li>
                                            {% else %} 
                                            {% endif %}
                        
                                            {% if r.strIngredient2 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient2 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient3 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient3 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient4 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient4 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient5 %}
                                            <span name="ingredient-front">...</span>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </p>
                
                                </div>

                                <!-- <div class="card-footer">
                                    This is a Footer
                                </div> -->
                            
                            </div>
                        </div>
                                    
                        <div class="backside">
                            <div class="card">
                                
                                    <!-- Back cover image -->
                                    <img class="card-img-back" src="{{ r.strDrinkThumb }}" alt="Card image">
                                    <div class="card-img-overlay">
                                        
                                        <div class="card-body scroll">
                                        
                                                <h5 class="card-title">{{ r.strDrink }}</h5>
                                                <p class="card-text">
                                                    <ul>
                                                        {% if r.strIngredient1 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient1 }} {% if r.strMeasure1 %}({{ r.strMeasure1 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %} 
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient2 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient2 }} {% if r.strMeasure2 %}({{ r.strMeasure2 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient3 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient3 }} {% if r.strMeasure3 %}({{ r.strMeasure3 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient4 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient4 }} {% if r.strMeasure4 %}({{ r.strMeasure4 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient5 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient5 }} {% if r.strMeasure5 %}({{ r.strMeasure5 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient6 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient6 }} {% if r.strMeasure6 %}({{ r.strMeasure6 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                                        
                                                        {% if r.strIngredient7 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient7 }} {% if r.strMeasure7 %}({{ r.strMeasure7 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient8 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient8 }} {% if r.strMeasure8 %}({{ r.strMeasure8 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient9 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient9 }} {% if r.strMeasure9 %}({{ r.strMeasure9 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient10 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient10 }} {% if r.strMeasure10 %}({{ r.strMeasure10 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient11 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient11 }} {% if r.strMeasure11 %}({{ r.strMeasure11 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient12 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient12 }} {% if r.strMeasure12 %}({{ r.strMeasure12 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient13 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient13 }} {% if r.strMeasure13 %}({{ r.strMeasure13 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient14 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient14 }} {% if r.strMeasure14 %}({{ r.strMeasure14 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient15 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient15 }} {% if r.strMeasure15 %}({{ r.strMeasure15 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                                    </ul>
                                                </p>
                                                <p class="card-text">{{ r.strInstructions }}</p>
                                            </div>
                                    </div>

                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
       
{% elif search_location == 'demo' %}
    <!-- Demo animation done through js -->
    <div id="demo_search_hint" style="display: none;">
        <div id="bartender_search" class="">
            <img src="{% static "images/bartender_search.png" %}">
        </div>
        <h4><span class="badge badge-light">{{ error_msg|linebreaksbr }}</span></h4>
    </div>
    
    <div id="cocktailSection" class="row">
        {% for r in result %}
            <div class="column">
                <div id="{{ forloop.counter }}_container" class="outer-container-flip">
                    <div class="inner-container-flip">
                            
                        <div class="frontside">
                            <div class="card">
                                
                                <!-- Front image -->
                                <img class="card-img-top img- fluid" src="{{ r.strDrinkThumb }}" alt="Card image">  
                                
                                <!-- Badge in the body of the card -->                                
                                <i id="{{ forloop.counter }}_favorite" name="favorite" class="far fa-heart card-badge"></i>
                                
                                <!-- Card body -->
                                <div class="card-body">
                                    <h4 class="card-title">{{ r.strDrink | truncatechars:40 }}</h4>
                                    <p class="card-text">
                                        <ul>
                                            {% if r.strIngredient1 %}
                                            <li name="ingredient-front">
                                               {{ r.strIngredient1 }}
                                            </li>
                                            {% else %} 
                                            {% endif %}
                        
                                            {% if r.strIngredient2 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient2 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient3 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient3 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient4 %}
                                            <li name="ingredient-front">
                                                {{ r.strIngredient4 }}
                                            </li>
                                            {% else %}
                                            {% endif %}
                        
                                            {% if r.strIngredient5 %}
                                            <span name="ingredient-front">...</span>
                                            {% else %}
                                            {% endif %}
                                        </ul>    
                                    </p>
                
                                </div>

                                <!-- <div class="card-footer">
                                    This is a Footer
                                </div> -->
                            
                            </div>
                        </div>
                                    
                        <div class="backside">
                            <div class="card">
                                
                                    <!-- Back cover image -->
                                    <img class="card-img-back" src="{{ r.strDrinkThumb }}" alt="Card image">
                                    <div class="card-img-overlay">
                                        
                                        <div class="card-body scroll">
                                        
                                                <h5 class="card-title">{{ r.strDrink }}</h5>
                                                <p class="card-text">
                                                    <ul>
                                                        {% if r.strIngredient1 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient1 }} {% if r.strMeasure1 %}({{ r.strMeasure1 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %} 
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient2 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient2 }} {% if r.strMeasure2 %}({{ r.strMeasure2 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient3 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient3 }} {% if r.strMeasure3 %}({{ r.strMeasure3 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient4 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient4 }} {% if r.strMeasure4 %}({{ r.strMeasure4 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                    
                                                        {% if r.strIngredient5 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient5 }} {% if r.strMeasure5 %}({{ r.strMeasure5 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient6 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient6 }} {% if r.strMeasure6 %}({{ r.strMeasure6 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                                        
                                                        {% if r.strIngredient7 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient7 }} {% if r.strMeasure7 %}({{ r.strMeasure7 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient8 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient8 }} {% if r.strMeasure8 %}({{ r.strMeasure8 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient9 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient9 }} {% if r.strMeasure9 %}({{ r.strMeasure9 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient10 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient10 }} {% if r.strMeasure10 %}({{ r.strMeasure10 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient11 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient11 }} {% if r.strMeasure11 %}({{ r.strMeasure11 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient12 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient12 }} {% if r.strMeasure12 %}({{ r.strMeasure12 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient13 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient13 }} {% if r.strMeasure13 %}({{ r.strMeasure13 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient14 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient14 }} {% if r.strMeasure14 %}({{ r.strMeasure14 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}

                                                        {% if r.strIngredient15 %}
                                                        <li name="ingredient-back">
                                                            {{ r.strIngredient15 }} {% if r.strMeasure15 %}({{ r.strMeasure15 }}){% else %}{% endif %}
                                                        </li>
                                                        {% else %}
                                                        {% endif %}
                                                    </ul>
                                                </p>
                                                <p class="card-text">{{ r.strInstructions }}</p>
                                            </div>
                                    </div>

                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <!-- Only error message. 'Name' is needed in order to trigger the click for focus on search bar -->
    <div id="search_hint" name="error_message" style="display: none;">
        <div id="bartender_search" class="">
            <img src="{% static "images/bartender_search.png" %}">
        </div>
        <h4><span class="badge badge-light">{{ error_msg|linebreaksbr }}</span></h4>
    </div>
{% endif %}

{% if result.has_next and request.GET.q  %}
    <div id="loadremaining" style="display: none">
        <a style="font-size: 20px;" class="btn btn-primary mybtn" href="/search/?q={{ request.GET.q }}&all_items=True';">Load <span class="badge badge-light">{{ remaining_items }}</span> more cocktails</a>
    </div>
{% endif %}

{% endblock %}