{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block static %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Login
{% endblock %}
{% block header %} <h2 style="text-align: center; height: 80px; color: white; margin-top: 10vh;">Log in</h2> {% endblock %}
{% block main %}

<div class="row">    
    <div id="login-container" class="col-sm-5 mx-auto row justify-content-center">
        {% crispy form %}
    </div>
</div>
<a class="col-sm-5 mx-auto row justify-content-center small text-center text-muted" style="margin-top: 5vh" href="{% url 'password_reset' %}">Forgot your password?</a>

{% endblock %}