{% extends "core/base.html" %}
{% load static %}
{% block static %}
<link href="{% static "css/password_reset.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Done
{% endblock %}
{% block main %}
    
<div id="bartender_search" class="fadein" style="text-align: center; position: relative;">
    <img src="{% static "images/bartender_search.png" %}" style=" width: 150px; height: 100%; display: inline-block;">
    <h4><span class="badge badge-warning" style="background-color: #f39c12">Your password has been reset</span></h4>
    <a class="col-sm-5 mx-auto row justify-content-center small text-center text-muted" style="margin-top: 5vh" href="{% url 'login' %}">Sign in</a>
</div>

   
{% endblock %}