{% extends "core/base.html" %}
{% load static %}
{% block static %}
<link href="{% static "css/users.css" %}" rel="stylesheet">
<style> .navbar #nav_login a {color: #f39c12 !important;} </style>
{% endblock %}
{% block title %}
    Done
{% endblock %}
{% block main %}
    
<div id="bartender_search" class="fadein"">
    <img src="{% static "images/bartender_search.png" %}">
    <h4><span class="badge badge-warning">Your password has been reset</span></h4>
    <div class="mt-3"><a class="col-sm-3 mx-auto small text-muted" href="{% url 'login' %}">Sign in</a></div>
</div>

{% endblock %}