{% extends "core/base.html" %}
{% load static %}
{% block static %}
<link href="{% static "css/users.css" %}" rel="stylesheet">
<style> .navbar #nav_login a {color: #f39c12 !important;} </style>
{% endblock %}
{% block title %}
    Done
{% endblock %}
{% block main %}
    
<div id="bartender_search" class="fadein">
    <img src="{% static "images/bartender_search.png" %}">
    <h4><span class="badge badge-warning">An email has been sent <br> with instructions <br> to reset your password</span></h4>
</div>

{% endblock %}