{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block static %}
<link href="{% static "css/password_reset.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Change password
{% endblock %}
{% block header %} <h2 style="text-align: center; height: 80px; color: white; margin-top: 10vh;">Change password</h2> {% endblock %}
{% block main %}

<div class="row">    
    <div id="password-container" class="col-sm-5 mx-auto row justify-content-center">
        {% crispy form %}  
    </div>
</div>

{% endblock %}